* {
    border: 2px black solid;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    
}


ul {
    list-style: none;
    padding: 0px;
}
p {
    height: fit-content;
}


.navbar {
    height: 100px;
    font-size: 70px;
    text-align: center;
    display: block;

}

.formhead {
    text-align: center;
}

.btnleft {
    width: 100%;

}

.maininfo {
    height: 300px;

}

.locationlist li {
    width: 100%;
    background-color: grey;
    border-radius: 3px;
    height: 40px;
    list-style: none;
    margin-top: 10px;

}

.forecast li{
    margin-right: 20px;
    height: fit-content;
    background-color: darkblue;
    color: aliceblue;
    border-radius: 3px;
    margin-right: 10px;

}

#uv {
    background-color: aqua;
    color: white;
    border-radius: 3px;
}

.forecast {
    margin: 0px;
}

